body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.bg {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(25px) brightness(0.4);
  transform: scale(1.1);
}

.viewer {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 40px;
}

.date {
  font-size: 18px;
  opacity: 0.7;
}

.title {
  font-size: 28px;
  margin: 10px 0;
}

.frame {
  width: 70vw;
  height: 60vh;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 20px 80px rgba(0,0,0,0.8);
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  margin-top: 15px;
  opacity: 0.8;
}

.controls {
  margin-top: 20px;
}

button {
  padding: 8px 15px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.frame img{
  object-fit: cover;
  object-position: center 35%; /* подвинь вверх/вниз как надо */
}


